<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EVCharging Status</title>
    <style>
        @media screen and (max-width: 1000pt) {
            :root {
               zoom: 300%;
            }
        }
    </style>
</head>
<body>
<h1>EVCharging Status</h1>
<table cellpadding="10">
    <tr>
        <td>Operating mode</td>
        <td>{mode}</td>
    </tr>
    <tr>
        <td>Max 15 min peak</td>
        <td>{max15minpeak}W</td>
    </tr>
    <tr>
        <td>Min 15 min peak</td>
        <td>{min15minpeak}W</td>
    </tr>
    <tr>
        <td>Current month 15 min peak</td>
        <td>{currentmonth15minpeak.valueInW}W<br/>{currentmonth15minpeak.timestamp}</td>
    </tr>
    <tr>
        <td>Peak strategy</td>
        <td>{peakstrategy}</td>
    </tr>
    <tr>
        <td>Actual max 15 min peak</td>
        <td>{actualmax15minpeak}W</td>
    </tr>
    <tr>
        <td>Charger state</td>
        <td>{chargerState}</td>
    </tr>
    <tr>
        <td>Charge limit from grid</td>
        <td>{chargelimitgrid}%</td>
    </tr>
    <tr>
        <td>From grid</td>
        <td>{meterData.fromGrid}W</td>
    </tr>
    <tr>
        <td>To grid</td>
        <td>{meterData.toGrid}W</td>
    </tr>
    <tr>
        <td>From PV</td>
        <td>{meterData.fromPV}W</td>
    </tr>
    <tr>
        <td>Total consumption</td>
        <td>{meterData.totalConsumption}W</td>
    </tr>
</table>

<br />
<br />
<br />

<form action="/status/changemode" method="post">
    Mode: <select name="mode"><option{#if mode.toString() == "OFF"} selected="selected"{/if}>OFF</option>
    <option{#if mode.toString() == "OPTIMAL"} selected="selected"{/if}>OPTIMAL</option>
    <option{#if mode.toString() == "PV_ONLY"} selected="selected"{/if}>PV_ONLY</option></select>
    &nbsp; <input type="submit" value="Change mode" class="button" />
</form>

<br />
<br />

<form action="/status/changepeakstrategy" method="post">
    Peak strategy: <select name="strategy">
    <option{#if peakstrategy.toString() == "DYNAMIC_LIMITED"} selected="selected"{/if}>DYNAMIC_LIMITED</option>
    <option{#if peakstrategy.toString() == "DYNAMIC_UNLIMITED"} selected="selected"{/if}>DYNAMIC_UNLIMITED</option>
    <option{#if peakstrategy.toString() == "STATIC_LIMITED"} selected="selected"{/if}>STATIC_LIMITED</option>
    &nbsp; <input type="submit" value="Change strategy" class="button" />
</form>

<br />
<br />

<form action="/status/changechargelimitfromgrid" method="post">
    Charge limit from grid: <select name="limit">
    <option value="50"{#if chargelimitgrid == 50} selected="selected"{/if}>50%</option>
    <option value="60"{#if chargelimitgrid == 60} selected="selected"{/if}>60%</option>
    <option value="70"{#if chargelimitgrid == 70} selected="selected"{/if}>70%</option>
    <option value="75"{#if chargelimitgrid == 75} selected="selected"{/if}>75%</option>
    <option value="80"{#if chargelimitgrid == 80} selected="selected"{/if}>80%</option>
    <option value="85"{#if chargelimitgrid == 85} selected="selected"{/if}>85%</option>
    <option value="90"{#if chargelimitgrid == 90} selected="selected"{/if}>90%</option>
    <option value="95"{#if chargelimitgrid == 95} selected="selected"{/if}>95%</option>
    <option value="100"{#if chargelimitgrid == 100} selected="selected"{/if}>100%</option>
    </select>
    &nbsp; <input type="submit" value="Change limit" class="button" />
</form>

</body>
</html>